@font-face {
  font-family: "Open Sans";
  src: url("/landing_EPA/static/src/font/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/landing_EPA/static/src/font/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}
